:root {
  font-size: 0.75em;

  @include respond-to('sm') {
    font-size: .875rem;
  }

  @include respond-to('md') {
    font-size: 1rem;
  }
}

html, body, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Monsterrat', sans-serif;
  color: _palette(textdark);
};

main {
  max-width: 1200px;
  margin: 12rem auto;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: _palette(textlessdark);

  &:hover {
    color: _palette(textdark);
    transition: color 0.2s ease-in;
  }

  &:active {
    color: _palette(textdark);
  }

};

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

i {
  color: _palette(purplelight);
}