html, body, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Nunito', sans-serif;
  color: _palette(textdark);
};

main {
  display: flex;
  max-width: 100%;
  margin-top: 50vh;
  @include respond-to('large') {
    max-width: 1800px;
    margin-top: 10rem;
  }
  
}

.content__container {
  max-width: 1800px;
  margin: 0 auto;
}

h5 {
  font-size: _fontsize(reg);
}

a {
  text-decoration: none;
  font-weight: _fontweight(regular);
  color: _palette(textlessdark);

  &:hover {
    color: _palette(textdark);
    transition: color 0.2s ease-in;
  }

  &:active {
    color: _palette(textdark);
  }

};

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

span.purple {
  color: _palette(purpledark);
}