.footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  .footer__buttons {
    display: flex;
    &:first-child {
      margin-right: 1.25rem;
    }
  }
  .footer__top {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 5rem;
    .footer__title {
      > h3 {
        font-size: _fontsize(xxlarge);
      }
      .footer__text {
        font-size: _fontsize(large);
      }
    }
    .btn__container {
      margin-left: 1.25rem;
      @include clickup-btn(_palette(bg));
    }

    button {
      border: 0;
      font-weight: _fontweight(bolder);
    }
  }
  .footer__bottom {
    margin-top: 5rem;
    padding: 6rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @include respond-to('large') {
      margin-left: 6rem;
      margin-right: 6rem;
      flex-direction: row;
    }
    
    .footer__logo{ 
      display: flex;
      align-items: baseline;

      h3 {
        margin-left: 1.25rem;
      }
    }

    .footer__info {
      display: flex;
      flex-direction: column;

      .footer__address {
        display: flex;
        flex-direction: column;
        font-weight: _fontweight(bolder);

        &:first-child {
          margin-bottom: 1.25rem;
        }
        span {
          line-height: 30px;
        }
      }

      .footer__email {
        display: flex;
        flex-direction: column;
        
        span {
          line-height: 30px;
        }
      }
    }
    .column {
      display: flex;
      flex-direction: column;
      ul > li {
        line-height: 50px;
      }
    }
    .row {
      display: flex;
      flex-direction: row;
      li > a:not(first-child) {
        margin: 0 0.5rem;
        span {
          font-size: 48px;
        }
      }
      
    }
  }

 
}