.feature__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;
  margin-top: 12rem;
  margin-bottom: 12rem;

  > section {
    display: flex;

    img {
     margin-top: 1.5rem;
     margin-right: -35px;
     z-index: 999;
    }
  
    .content {
      display: flex;
      flex-direction: column;
      padding: 5rem 5rem 5rem 8rem;
      max-width: 100%;
    }
  }
}