.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50vh;
  width: 100%;
  @include respond-to('md') {
    margin-top: 5rem;
  }

  .hero__area--one {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  
  .hero__img--container {
    max-width: 100%;

    @include respond-to('large') {
      margin-left: -250px;
      margin-bottom: -250px;
    }
  }
  .hero__copy {
    max-width: 100%;
    text-align: center;
    &--title {
      font-size:_fontsize(title);
        @include respond-to('large') {
          text-align: left;
        }
    }  

    &--text {
      font-size: _fontsize(xxlarge);
      font-weight: _fontweight(regular);
      line-height: 50px;
      margin-top: 0;
      text-align: center;
      @include respond-to('large') {
        font-size: _fontsize(reg);
        line-height: 30px;
        margin-bottom: 2.5rem;
        margin-right: 15rem;
        text-align: left;
      }
    }

    @include respond-to('large') {
      max-width: 30%;
      text-align: left;
    }
  }
  @include  respond-to('large') {
    flex-direction: row;
  }
  }

  .hero__area--two {
    flex: 1;
    margin-top: 20vh;
    max-width: 100%;
    .hero__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%;
      @include respond-to('large') {
        flex-direction: row;
        max-width: 75%;
      }
      &--copy {
        max-width: 100%;
      }
      &--title {
        font-size: _fontsize(title);
      }

      &--text {
        line-height: 30px;
        font-size: _fontsize(xlarge);
      }
    }
  }

}