.navigation {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  background-color: _palette(bg);
  z-index: 1000;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  &__container {  
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;

  .btn__container--navigation {
    @include clickup-btn(_palette(bg));
  }
  button {
    margin-top: 0.75rem;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: _fontsize(xxlarge);
    font-weight: _fontweight(bolder);

    @include respond-to('md') {
      font-size: _fontsize(reg);
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    list-style: none;
    li:not(first-child) {
      margin-top: 2.5rem;
      @include respond-to('large') {
        margin-left: 1.5rem;
      }
    }
    li > a {
      font-size: _fontsize(large);
      line-height: 50px;
      @include respond-to('md') {
        font-size: _fontsize(xxlarge)
      }
    }
  }
  @include respond-to('md') {
    flex-direction: row;
    justify-content: space-around;
    .navigation__inner {
      display: flex;
      align-items: center;
      margin-left: 6rem;
    }
    ul {
      margin-left: 8rem;
      flex-direction: row;
      li > a {
        line-height: none;
        font-size: _fontsize(large);
      }
    }
  }
  }
}