.navigation {
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  background-color: _palette(bg);
  z-index: 1000;
  padding-bottom: 2.5rem;
  
  &__container {  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  button {
    margin-top: 0.75rem;
    cursor: pointer;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    list-style: none;

    li:not(first-child) {
      margin-left: 1.5rem; 
    }
    li > a {
      font-size: _fontsize(xlarge);
    }
  }
  @include respond-to('xs') {
    flex-direction: row;
    justify-content: space-around;
    ul {
      flex-direction: row;
     
    }
  }
  }
 

}