.testimonials {
  background-color: _palette(purpledark);
  border-radius: _border(rounded_large);
  h2 {
    color: _palette(bg);
    padding: 3rem;
    font-size: _fontsize(xxlarge);
  }
  
  &__content {
    padding: 15rem;
  }
}