.navigation__demo--btn {
  align-items: baseline;
  align-self: baseline;
  border-radius: 30px;
  padding: 0.85em;
  border: 0;
  background-color: _palette(bg);
  box-shadow: 0 0 .4em _palette(textdark);
  font-weight: 600;
}