.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;

  button {
    margin-top: 0.75rem;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    list-style: none;

    li:not(first-child) {
      margin-left: 1.5rem; 
    }
  }

  @include respond-to('xs') {
    flex-direction: row;
    justify-content: space-around;
    ul {
      flex-direction: row;
    }
  }
}